<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# Ensure GLTF/GLB files are served with the correct MIME type
AddType model/gltf-binary .glb
AddType model/gltf+json .gltf
AddType application/wasm .wasm
